.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.header__tipbar {
  width: 100%;
  height: auto;
  background-color: #dfb800;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.header__tipbar-image {
  width: 1170px;
  height: 50px;
  object-fit: contain;
}

.middle-bar {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.middle-bar__content {
  width: 100%;
  max-width: 1170px;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.middle-bar__logo-container {
  width: auto;
  height: 60px;
}

.middle-bar__logo {
  width: auto;
  height: 100%;
  object-fit: contain;
  display: block;
}

.search-bar {
  width: 100%;
  max-width: 790px;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  align-items: center;
  gap: 20px;
}

.search-bar__input-icon-container {
  width: 15px;
  height: 15px;
}

.search-bar__input-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.search-bar__input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}

.header__buttons {
  width: 75px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
