.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.header__tipbar {
  width: 100%;
  height: auto;
  background-color: #dfb800;
  display: flex;
  justify-content: center;
}

.header__tipbar-image {
  width: 1170px;
  height: 50px;
  object-fit: contain;
}
